<html>

<head>
    <link rel="stylesheet" href="stylesheet.css"/>
</head>


<body>
    <h1>
        <a href = "/">Home</a> 
        <a href = "listTasks">List Tasks</a>
    </h1>
    <form action= "/addTask" method = "POST">
        <label for = "taskName"> taskName :</label>
        <input type = "text" name= "taskName" /></br>

        <label for = "dueDate"> dueDate :</label>
        <input type = "text" name= "dueDate" /></br>
        
        <label for = "taskDesc"> taskDesc:</label>
        <input type = "text" name= "taskDesc" /></br>

        <button>Submit</button>
        
    </form>
</body>
