<html>

<head>
    <link rel="stylesheet" href="stylesheet.css"/>
</head>


<body>
    <h1>
        <a href = "http://localhost:8080/">Home</a> 
        <a href = "http://localhost:8080/listTasks">List Tasks</a>
    </h1>
    <form action= "/addTask" method = "POST">
        Task Name:
        <input type = "text" name= "taskName" /></br>
        Due Date:
        <input type = "text" name= "dueDate" /></br>
        Task Desc:
        <input type = "text" name= "taskDesc" /></br>

        <button>Sumit</button>
        
    </form>
</body>
